.pageturner
{
	font-family:'Quattrocento';
}

.heading1
{
	font-family:'ZCOOL XiaoWei';
}

.author1
{
	font-family:'Cabin';
}

.description1
{
	font-family: 'Slabo 27px'
}

.newsdesk
{
	font-family:'Quattrocento';
}

.popmusic
{
	font-family:'Quattrocento';
}

.heading2
{
	font-family:'ZCOOL XiaoWei';
}

.heading3
{
	font-family:'ZCOOL XiaoWei';
}

.author2
{
	font-family:'Cabin';
}

.author3
{
	font-family:'Cabin';
}

.description2
{
	font-family: 'Slabo 27px'
}

.description3
{
	font-family: 'Slabo 27px'
}

.culturedesk
{
	font-family:'Quattrocento';
}

.profiles
{
	font-family:'Quattrocento';
}

.heading4
{
	font-family:'ZCOOL XiaoWei';
}

.heading5
{
	font-family:'ZCOOL XiaoWei';
}

.heading6
{
	font-family:'ZCOOL XiaoWei';
}

.author4
{
	font-family:'Cabin';
}

.author5
{
	font-family:'Cabin';
}

.author6
{
	font-family:'Cabin';
}

.description4
{
	font-family: 'Slabo 27px'
}

.description5
{
	font-family: 'Slabo 27px'
}

.description6
{
	font-family: 'Slabo 27px'
}

.page2-header
{
	font-family:'ZCOOL XiaoWei';
}

.lefttext1
{
	font-family:'Quattrocento';
}

.bluebox1
{
	font-family:'Cabin';
}

.bluebox2
{
	font-family:'Cabin';
}

.lefttext2
{
	font-family:'Quattrocento';
}

.bluebox3
{
	font-family:'Cabin';
}

.lefttext3
{
	font-family:'Quattrocento';
}

.bluebox4
{
	font-family:'Cabin';
}

.lefttext4
{
	font-family:'Quattrocento';
}

.bluebox5
{
	font-family:'Cabin';
}

.lefttext5
{
	font-family:'Quattrocento';
}

.bottom-header1
{
	font-family:'Cabin';
}

.bottom-author1
{
	font-family:'Cabin';
}

.bottom-description1
{
	font-family:'Quattrocento';
}

.bottom-header2
{
	font-family:'Cabin';
}

.bottom-author2
{
	font-family:'Cabin';
}

.bottom-description2
{
	font-family:'Quattrocento';
}

.bottom-header3
{
	font-family:'Cabin';
}

.bottom-author3
{
	font-family:'Cabin';
}

.bottom-description3
{
	font-family:'Quattrocento';
}

.bottom-header4
{
	font-family:'Cabin';
}

.bottom-author4
{
	font-family:'Cabin';
}

.bottom-description4
{
	font-family:'Quattrocento';
}

.bottom-header5
{
	font-family:'Cabin';
}

.bottom-author5
{
	font-family:'Cabin';
}

.bottom-description5
{
	font-family:'Quattrocento';
}

.more-stories
{
	font-family:'Cabin';
}



